# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

**/.venv/
**/env/
**/venv/

**/node_modules/
MediSupply Web/coverage/

# Database files
*.db
.DS_Store

# VS Code
.vscode/
.idea/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
MediSupply Web/coverage
