apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventario
  labels:
    app: inventario
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventario
  template:
    metadata:
      labels:
        app: inventario
    spec:
      containers:
        - name: inventario
          image: us-central1-docker.pkg.dev/proyecto-476622/proyecto/inventario:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8002
          env:
            - name: DB_USER
              value:
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            tcpSocket:
              port: 8002
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
          livenessProbe:
            tcpSocket:
              port: 8002
            initialDelaySeconds: 30
            periodSeconds: 20

---
apiVersion: v1
kind: Service
metadata:
  name: inventario-svc
  labels:
    app: inventario
spec:
  selector:
    app: inventario
  ports:
    - port: 80
      targetPort: 8002
      protocol: TCP
  type: ClusterIP
